openapi: 3.0.3
info:
  title: PokeAPI
  description: |
    The RESTful Pokemon API. All the Pokemon data you'll ever need in one place.

    ## Overview

    PokeAPI provides a comprehensive database of Pokemon information, including:
    - Pokemon species and their characteristics
    - Abilities and moves
    - Types and type effectiveness
    - Evolution chains
    - Game versions and locations

    ## Rate Limiting

    PokeAPI is a free, open API. Please be respectful and cache responses when possible.
    There is no hard rate limit, but excessive requests may be throttled.

    ## Caching

    All resources are fully cacheable. The API returns appropriate `Cache-Control` headers.
    Consider implementing local caching to improve performance and reduce server load.

  version: 2.0.0
  contact:
    name: PokeAPI
    url: https://pokeapi.co
  license:
    name: BSD 3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause

servers:
  - url: https://pokeapi.co/api/v2
    description: Production server

tags:
  - name: Pokemon
    description: Pokemon species and their data
  - name: Abilities
    description: Pokemon abilities
  - name: Types
    description: Pokemon types (Fire, Water, etc.)
  - name: Moves
    description: Pokemon moves and attacks
  - name: Evolution
    description: Evolution chains and triggers

paths:
  /pokemon:
    get:
      tags:
        - Pokemon
      summary: List all Pokemon
      description: |
        Returns a paginated list of all Pokemon species.

        Use `limit` and `offset` parameters for pagination.
        The response includes URLs to individual Pokemon resources.
      operationId: listPokemon
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page
          required: false
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
          example: 20
        - name: offset
          in: query
          description: Number of results to skip (for pagination)
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
          example: 0
      responses:
        '200':
          description: Successful response with list of Pokemon
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PokemonList'
              example:
                count: 1281
                next: "https://pokeapi.co/api/v2/pokemon?offset=20&limit=20"
                previous: null
                results:
                  - name: "bulbasaur"
                    url: "https://pokeapi.co/api/v2/pokemon/1/"
                  - name: "ivysaur"
                    url: "https://pokeapi.co/api/v2/pokemon/2/"

  /pokemon/{idOrName}:
    get:
      tags:
        - Pokemon
      summary: Get Pokemon by ID or name
      description: |
        Retrieves detailed information about a specific Pokemon.

        You can query by:
        - **Numeric ID**: `/pokemon/25` (Pikachu)
        - **Name**: `/pokemon/pikachu`

        The response includes base stats, abilities, types, sprites, and more.
      operationId: getPokemon
      parameters:
        - name: idOrName
          in: path
          description: Pokemon ID (integer) or name (lowercase string)
          required: true
          schema:
            oneOf:
              - type: integer
                minimum: 1
              - type: string
          examples:
            byId:
              summary: Query by ID
              value: 25
            byName:
              summary: Query by name
              value: pikachu
      responses:
        '200':
          description: Pokemon details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pokemon'
        '404':
          description: Pokemon not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                detail: "Not found."

  /ability:
    get:
      tags:
        - Abilities
      summary: List all abilities
      description: Returns a paginated list of all Pokemon abilities.
      operationId: listAbilities
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of abilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'

  /ability/{idOrName}:
    get:
      tags:
        - Abilities
      summary: Get ability details
      description: |
        Retrieves detailed information about a specific ability.

        Includes:
        - Effect descriptions in multiple languages
        - Pokemon that can have this ability
        - Generation introduced
      operationId: getAbility
      parameters:
        - name: idOrName
          in: path
          required: true
          description: Ability ID or name
          schema:
            oneOf:
              - type: integer
              - type: string
          example: "overgrow"
      responses:
        '200':
          description: Ability details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ability'
        '404':
          description: Ability not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /type:
    get:
      tags:
        - Types
      summary: List all types
      description: Returns a list of all Pokemon types (Fire, Water, Grass, etc.)
      operationId: listTypes
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: List of types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceList'

  /type/{idOrName}:
    get:
      tags:
        - Types
      summary: Get type details
      description: |
        Retrieves detailed information about a Pokemon type.

        Includes damage relations (super effective, not very effective, immune).
      operationId: getType
      parameters:
        - name: idOrName
          in: path
          required: true
          description: Type ID or name
          schema:
            oneOf:
              - type: integer
              - type: string
          example: "electric"
      responses:
        '200':
          description: Type details with damage relations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Type'
        '404':
          description: Type not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /move/{idOrName}:
    get:
      tags:
        - Moves
      summary: Get move details
      description: |
        Retrieves detailed information about a Pokemon move.

        Includes power, accuracy, PP, type, damage class, and effect descriptions.
      operationId: getMove
      parameters:
        - name: idOrName
          in: path
          required: true
          description: Move ID or name
          schema:
            oneOf:
              - type: integer
              - type: string
          example: "thunderbolt"
      responses:
        '200':
          description: Move details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Move'
        '404':
          description: Move not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /evolution-chain/{id}:
    get:
      tags:
        - Evolution
      summary: Get evolution chain
      description: |
        Retrieves the evolution chain for a Pokemon family.

        Shows all evolution stages and the triggers required to evolve
        (level up, use item, trade, etc.)
      operationId: getEvolutionChain
      parameters:
        - name: id
          in: path
          required: true
          description: Evolution chain ID
          schema:
            type: integer
          example: 1
      responses:
        '200':
          description: Evolution chain details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvolutionChain'
        '404':
          description: Evolution chain not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 20
        minimum: 1
        maximum: 100
    OffsetParam:
      name: offset
      in: query
      description: Pagination offset
      schema:
        type: integer
        default: 0
        minimum: 0

  schemas:
    ResourceList:
      type: object
      description: Paginated list of resources
      properties:
        count:
          type: integer
          description: Total number of resources
          example: 100
        next:
          type: string
          format: uri
          nullable: true
          description: URL to the next page of results
          example: "https://pokeapi.co/api/v2/pokemon?offset=20&limit=20"
        previous:
          type: string
          format: uri
          nullable: true
          description: URL to the previous page of results
        results:
          type: array
          description: Array of resource references
          items:
            $ref: '#/components/schemas/NamedResource'

    PokemonList:
      allOf:
        - $ref: '#/components/schemas/ResourceList'
        - type: object
          description: Paginated list of Pokemon

    NamedResource:
      type: object
      description: Reference to a named API resource
      properties:
        name:
          type: string
          description: Resource name
          example: "bulbasaur"
        url:
          type: string
          format: uri
          description: URL to the full resource
          example: "https://pokeapi.co/api/v2/pokemon/1/"

    Pokemon:
      type: object
      description: A Pokemon species with all its data
      properties:
        id:
          type: integer
          description: National Pokedex number
          example: 25
        name:
          type: string
          description: Pokemon name (lowercase)
          example: "pikachu"
        height:
          type: integer
          description: Height in decimeters
          example: 4
        weight:
          type: integer
          description: Weight in hectograms
          example: 60
        base_experience:
          type: integer
          description: Base experience gained when defeated
          example: 112
        is_default:
          type: boolean
          description: Whether this is the default form
          example: true
        order:
          type: integer
          description: Order for sorting
          example: 35
        abilities:
          type: array
          description: List of abilities this Pokemon can have
          items:
            $ref: '#/components/schemas/PokemonAbility'
        types:
          type: array
          description: Pokemon types
          items:
            $ref: '#/components/schemas/PokemonType'
        stats:
          type: array
          description: Base stats
          items:
            $ref: '#/components/schemas/PokemonStat'
        sprites:
          $ref: '#/components/schemas/PokemonSprites'
        moves:
          type: array
          description: Moves this Pokemon can learn
          items:
            type: object
            properties:
              move:
                $ref: '#/components/schemas/NamedResource'

    PokemonAbility:
      type: object
      properties:
        ability:
          $ref: '#/components/schemas/NamedResource'
        is_hidden:
          type: boolean
          description: Whether this is a hidden ability
          example: false
        slot:
          type: integer
          description: Ability slot (1, 2, or 3 for hidden)
          example: 1

    PokemonType:
      type: object
      properties:
        slot:
          type: integer
          description: Type slot (1 for primary, 2 for secondary)
          example: 1
        type:
          $ref: '#/components/schemas/NamedResource'

    PokemonStat:
      type: object
      properties:
        stat:
          $ref: '#/components/schemas/NamedResource'
        base_stat:
          type: integer
          description: Base stat value
          example: 90
        effort:
          type: integer
          description: Effort points gained
          example: 0

    PokemonSprites:
      type: object
      description: Pokemon sprite images
      properties:
        front_default:
          type: string
          format: uri
          nullable: true
          description: Default front sprite
          example: "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png"
        front_shiny:
          type: string
          format: uri
          nullable: true
          description: Shiny front sprite
        back_default:
          type: string
          format: uri
          nullable: true
          description: Default back sprite
        back_shiny:
          type: string
          format: uri
          nullable: true
          description: Shiny back sprite

    Ability:
      type: object
      description: A Pokemon ability
      properties:
        id:
          type: integer
          example: 65
        name:
          type: string
          example: "overgrow"
        is_main_series:
          type: boolean
          description: Whether this ability exists in the main series games
        effect_entries:
          type: array
          description: Effect descriptions in various languages
          items:
            type: object
            properties:
              effect:
                type: string
                description: Full effect description
              short_effect:
                type: string
                description: Short effect summary
              language:
                $ref: '#/components/schemas/NamedResource'
        pokemon:
          type: array
          description: Pokemon that can have this ability
          items:
            type: object
            properties:
              pokemon:
                $ref: '#/components/schemas/NamedResource'
              is_hidden:
                type: boolean

    Type:
      type: object
      description: A Pokemon type with damage relations
      properties:
        id:
          type: integer
          example: 13
        name:
          type: string
          example: "electric"
        damage_relations:
          $ref: '#/components/schemas/TypeDamageRelations'
        pokemon:
          type: array
          items:
            type: object
            properties:
              pokemon:
                $ref: '#/components/schemas/NamedResource'
              slot:
                type: integer

    TypeDamageRelations:
      type: object
      description: Type effectiveness relationships
      properties:
        double_damage_to:
          type: array
          description: Types that take 2x damage from this type
          items:
            $ref: '#/components/schemas/NamedResource'
        half_damage_to:
          type: array
          description: Types that take 0.5x damage from this type
          items:
            $ref: '#/components/schemas/NamedResource'
        no_damage_to:
          type: array
          description: Types that are immune to this type
          items:
            $ref: '#/components/schemas/NamedResource'
        double_damage_from:
          type: array
          description: Types that deal 2x damage to this type
          items:
            $ref: '#/components/schemas/NamedResource'
        half_damage_from:
          type: array
          description: Types that deal 0.5x damage to this type
          items:
            $ref: '#/components/schemas/NamedResource'
        no_damage_from:
          type: array
          description: Types that this type is immune to
          items:
            $ref: '#/components/schemas/NamedResource'

    Move:
      type: object
      description: A Pokemon move/attack
      properties:
        id:
          type: integer
          example: 85
        name:
          type: string
          example: "thunderbolt"
        accuracy:
          type: integer
          nullable: true
          description: Move accuracy (1-100) or null for moves that can't miss
          example: 100
        power:
          type: integer
          nullable: true
          description: Base power or null for status moves
          example: 90
        pp:
          type: integer
          description: Power Points (number of times move can be used)
          example: 15
        priority:
          type: integer
          description: Move priority (-8 to +8)
          example: 0
        type:
          $ref: '#/components/schemas/NamedResource'
        damage_class:
          $ref: '#/components/schemas/NamedResource'
        effect_entries:
          type: array
          items:
            type: object
            properties:
              effect:
                type: string
              short_effect:
                type: string
              language:
                $ref: '#/components/schemas/NamedResource'

    EvolutionChain:
      type: object
      description: Pokemon evolution chain
      properties:
        id:
          type: integer
          example: 1
        chain:
          $ref: '#/components/schemas/ChainLink'

    ChainLink:
      type: object
      description: A link in the evolution chain
      properties:
        species:
          $ref: '#/components/schemas/NamedResource'
        evolution_details:
          type: array
          items:
            $ref: '#/components/schemas/EvolutionDetail'
        evolves_to:
          type: array
          description: Pokemon this species can evolve into
          items:
            $ref: '#/components/schemas/ChainLink'

    EvolutionDetail:
      type: object
      description: Details about how evolution is triggered
      properties:
        trigger:
          $ref: '#/components/schemas/NamedResource'
        min_level:
          type: integer
          nullable: true
          description: Minimum level required
        item:
          $ref: '#/components/schemas/NamedResource'
        held_item:
          $ref: '#/components/schemas/NamedResource'
        min_happiness:
          type: integer
          nullable: true
        time_of_day:
          type: string
          nullable: true
          enum: [day, night, ""]

    Error:
      type: object
      description: Error response
      properties:
        detail:
          type: string
          description: Error message
          example: "Not found."
